:root {
  --font-defult: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Amatic SC", sans-serif;
  --font--secndory: "Inter", sans-serif;
  --primry-color: hsl(0deg 83.93% 43.92%);
  --white-color: #FFFFFF;
  --animation-duration: 400ms;
  --inline-gap: 0.9375rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.nav-bar {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 100px;
  background-color: var(--white-color);
  box-shadow: 0 5px 25px rgba(1 1 1 / 10%);
  text-transform: capitalize;
  font-family: var(--font-defult);
  z-index: 999;
}

.dot a {
  text-decoration: none;
  color: #212529;
  font-size: 30px;
  font-weight: 700;
}

.dot a::after {
  content: ".";
  color: var(--primry-color);
}

.list-bar a {
  text-decoration: none;
  color: #7f7f90;
  font-size: 1rem;
  font-weight: 600;
}


.nav-bar .list-bar {
  list-style: none;
  display: flex;
}

.nav-bar .list-bar li {
  padding: 5px 15px;
}

.list-bar a:hover {
  border-bottom: 3px solid var(--primry-color);
  padding-bottom: 5px;
  color: #212529;
  transition: color 0.5s;
}

/*@keyframes bl7 {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  100% {
    transform: translate(1px, 1px) rotate(150deg);
  }
}
*/
.nav-bar i {
  font-size: 25px;
  font-weight: 900;
}

body:has(.home:target) .home-link {
  color: #212529;
  border-bottom: 3px solid var(--primry-color);
  padding-bottom: 5px;
}

body:has(.chefs:target) .chefs-link {
  color: #212529;
  border-bottom: 3px solid var(--primry-color);
  padding-bottom: 5px;
}

body:has(.gallery:target) .gallery-link {
  color: #212529;
  border-bottom: 3px solid var(--primry-color);
  padding-bottom: 5px;
}

body:has(.contact:target) .contact-link {
  color: #212529;
  border-bottom: 3px solid var(--primry-color);
  padding-bottom: 5px;
}

.home {
  background-color: #EEEEEE;
  height: 100vh;
  display: flex;
  align-items: center;
  margin-inline: auto;
}

.section1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 95px 102px 0px;
  padding: 2.5rem 0.3125rem;
}

.enjoy {
  flex-wrap: wrap;
  display: flex;
  width: 40%;
}

.enjoy h2 {
  font-family: var(--font-primary);
  color: #37373F;
  font-size: 4.0625rem;
  font-weight: 700;
}

.enjoy p {
  font-family: var(--font-defult);
  color: #4F4F5A;
  font-size: 16px;
  margin: 20px 0px;
  font-weight: 400;
}

.food-plate {
  display: flex;
  align-items: center;
  justify-content: end;
  filter: drop-shadow(4px 4px 9px #000a);
  width: 60%;
}


.food-plate img {
  width: 70%;
}

.food-plate img:hover {
  animation: shake 1s infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.btn-section1 {
  display: flex;
  gap: 40px;
  align-items: center;
}

.btn-section1 a {
  padding: 15px 30px;
  text-decoration: none;
  color: #37373F;
  text-align: start;
}

.btn-section1>a {
  background-color: var(--primry-color);
  color: var(--white-color);
  border-radius: 0px 100vh 100vh;
}

.play-icon i {
  padding: 20px 20px;
  margin-right: 10px;
  background-image: linear-gradient(to right, var(--primry-color) 0 50%, transparent 50% 100%);
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;

}

.play-icon i::after {
  content: "";
  position: absolute;
  display: flex;
  background-color: var(--white-color);
  border-radius: 100%;
  height: 40px;
  width: 40px;
  left: 20%;
  top: 14%;
  z-index: 0;
}

.container {
  flex-direction: column;
  margin: 50px 100px;
  padding: 40px 5px;
}

.main-title {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section2 {
  display: flex;
  width: 100%;
}

.card {
  background-color: #212529;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.card img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
  margin: 0;
  padding: 20px 0px;
}

.card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 70%;
}